[user]
	email = nessajane@nessajane.tech
	name = Nessa Jane Marin
[push]
  default = current
[difftool]
  prompt = false
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
